<!DOCTYPE html>
<html lang="en">
<head>
	<title>Confirmation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<!--===============================================================================================-->
</head>
<body onload="createGraph()">
	<h1>Welcome back User! {{user.first_name}}  {{user.last_name}} </h1>


	<form action="/dashboard" method="POST">
		<label>First Name:</label>
		<input type="text" name="fname" value={{user.first_name}}><br>
		<label>Last Name:</label>
		<input type="text" name="lname" value={{user.last_name}}><br>
		<input type="submit" name='button' value="Edit">
		<input type="submit" name='button' value="Delete">



	</form>
	<canvas id="myChart" width="100px" height="100px"></canvas>
	<script>
		function createGraph(){
		console.log({{obj.Linebacker}})
		const ctx = document.getElementById('myChart').getContext('2d');
		const myChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: ['Linebacker','Center','Safety','Punter','Quarterback','Guard'],
					datasets: [{
						label: '# of Players by Position for the Bears',
						data: [{{obj.Linebacker}},{{obj.Center}},{{obj.Safety}},{{obj.Punter}},{{obj.Quarterback}},{{obj.Guard}}],
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(75, 192, 192, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(255, 159, 64, 0.2)'
						],
						borderColor: [
							'rgba(255, 99, 132, 1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(255, 159, 64, 1)'
						],
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			});
			ctx.canvas.parentNode.style.height = '400px';
			ctx.canvas.parentNode.style.width = '400px';
		}
	</script>



</body>
</html>