<!DOCTYPE html>
<html lang="en">
<head>
	<title>Confirmation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js">
	</script>

	



	<link rel="icon" href="../public/imgs/stadium.jpg">
	<link rel ="stylesheet" type="text/css" href="../public/stylesheets/dashboard.css">

	

<!--===============================================================================================-->
</head>
<body>

	<div class="header">
        <ul>
            <li><a href="/" class="aligntextleft">NFL Tracker</a></li>
            <li><a href="/" class="aligntextright">Home</a></li>
            <li><a href="/" class="aligntextright">About</a></li>
        </ul>
    </div>

	<div class="sidenav">
		<a>Edit Information</a>
		<a>All Teams</a>
		{{#each obj}}
			<a class="team_{{@index}}" onClick="getData({{@index}})">{{data.team.displayName}}</a>
		{{/each}}

	

	</div>

	<div id="main">

		<h1>Welcome back User! {{user.first_name}}  {{user.last_name}} </h1>


		<form action="/dashboard" method="POST">
			<label>First Name:</label>
			<input type="text" name="fname" value={{user.first_name}}><br>
			<label>Last Name:</label>
			<input type="text" name="lname" value={{user.last_name}}><br>
			<input type="submit" name='button' value="Edit">
			<input type="submit" name='button' value="Delete">
		</form>


	</div>
	

	<script>
		async function getData(index){
			//console.log(index);
			var apiString = 'https://sports.core.api.espn.com/v2/sports/football/leagues/nfl/seasons/2022/teams/';
			
			var newApiString = apiString.concat((index+1).toString(),"/athletes");
			//console.log(newApiString)

			var team_roster = await axios.get(newApiString);
			//console.log(team_roster.data.items.length);

			//var player_information = await axios.get(team_roster.data.items.$ref);
			//console.log(player_information)
			//console.log(player_information.data.fullName)
			//console.log(player_information.data.position.displayName)
			//console.log(player_information.data.jersey)
			//console.log(player_information.data.displayHeight)
			//console.log(player_information.data.age)
			//console.log(player_information.data.headshot.href)
			//console.log(player_information.data.displayWeight)

			for(let i = 0; i<team_roster.data.items.length;i++){
				var player_information = await axios.get(team_roster.data.items[i].$ref);

				console.log(team_roster.data)

			
				//console.log(player_information)
				const playerCard = document.createElement("div");
				playerCard.className= "player_card";

				if(player_information.data.headshot){
					const playerHeadShot = player_information.data.headshot.href

					const playerPhoto = document.createElement("img")
					playerPhoto.src = playerHeadShot;
					playerCard.append(playerPhoto);
				}
				else{
					const playerHeadShot = ""
					const playerPhoto = document.createElement("img")
					playerPhoto.src = playerHeadShot;
					playerPhoto.alt = "N/A"
					playerCard.append(playerPhoto)
				}
				

				const playerName = document.createElement("h1");
				const fullNameNode  = document.createTextNode(player_information.data.fullName);
				playerName.appendChild(fullNameNode);
				playerCard.appendChild(playerName);

				const playerPosition = document.createElement("h2");
				const positionNode = document.createTextNode("Position: " + player_information.data.position.displayName);
				playerPosition.appendChild(positionNode);
				playerCard.appendChild(playerPosition);

			
				

				
			
				
				
			
				await document.getElementById("main").appendChild(playerCard);


			}


	





		}
	</script>
	
	








	

</body>
</html>