<!DOCTYPE html>
<html lang="en">
<head>
	<title>Confirmation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

	



	<link rel="icon" href="../public/imgs/stadium.jpg">
	<link rel ="stylesheet" type="text/css" href="../public/stylesheets/dashboard.css">



<!--===============================================================================================-->
</head>
<body>

	<div class="header">
        <ul>
            <li><a href="/" class="aligntextleft">NFL Tracker</a></li>
            <li><a href="/" class="aligntextright">Home</a></li>
            <li><a href="/" class="aligntextright">About</a></li>
        </ul>
    </div>

	<div class="sidenav">
		<a>Edit Information</a>
		<a>All Teams</a>
		{{#each obj}}
			<a class="team_{{@index}}">{{data.team.displayName}}</a>
		{{/each}}

	</div>
	
	<div class="main">

	<h1>Welcome back User! {{user.first_name}}  {{user.last_name}} </h1>


	<form action="/dashboard" method="POST">
		<label>First Name:</label>
		<input type="text" name="fname" value={{user.first_name}}><br>
		<label>Last Name:</label>
		<input type="text" name="lname" value={{user.last_name}}><br>
		<input type="submit" name='button' value="Edit">
		<input type="submit" name='button' value="Delete">
	</form>


	</div>
	








	

</body>
</html>